@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
    @apply bg-gradient-to-r from-blue-100 via-purple-100 to-pink-100 dark:bg-gray-800 dark:bg-none;
}


.btn-project {
    @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-2 px-6 
        focus:outline-none hover:bg-indigo-600 rounded text-lg
        transition-transform duration-300 transform
        hover:scale-105 hover:shadow-lg;
}

.project-card {
    @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40

            hover:text-blue-600
}

h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600 bg-gradient-to-r from-blue-50 via-purple-50 to-pink-50 dark:text-white dark:bg-slate-600/20 dark:bg-none;
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
    @apply text-slate-500 dark:text-slate-400
}

/* styles/global.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 수평 스크롤 방지 */
  }
  


@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateY(-10px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-fade-in {
    animation: fade-in-up 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.fly-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fly-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  